
.main-container {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    background-color: #D6E2E9;
    justify-content: center;
    align-items: center;
    z-index: 1;
    
    padding: .5rem;
    box-sizing: border-box;
    transition: background-color .5s ease-in-out;
}

.gender-bg {
    max-width: 1000px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

.gender-bg::before {
    content: "\f221";
    position: absolute;
    font-family: 'FontAwesome';
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    font-size: 600px;
    background: radial-gradient(rgba(255, 0, 0, 0.6) 30%, transparent) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 2;
}

.gender-bg::after {
    content: "\f222";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    font-family: 'FontAwesome';
    font-size: 600px;
    background: radial-gradient(rgba(0, 0, 255, 0.6) 30%, transparent) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 2;
}

/* Card component */
.quiz-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 200px;
    z-index: 3;
}

.card-wrapper {
    border-radius: 10px;
    background-color: lightblue;
    opacity: .9;
    transition: background-color .5s ease-in-out;
}

.quiz-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(255, 250, 250, 0.4), rgba(0, 0, 0, 0.1));
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 1rem;
}

.question {
    padding-bottom: 1rem;
}

.quiz-card h3{
    font-size: 1.2rem;
    margin: 0;
}

.question h2 {
    margin: 0;
}

.quiz-card p,
.question p {
    font-size: 1.1rem;
}


/* Buttons container */
.button-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.button-container button {
    font-size: 1.5rem;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    width: 100%;
    border-radius: 0;
    cursor: pointer;
}

.button-container button i {
    transition: transform 0.3s ease-in-out;
}

.button-container button:hover i {
    transform: scale(1.2);
}

.button-container .true {
    color: green;
}

.button-container .false {
    color: red;
}

.button-container i {
    font-size: 3rem;
}

.button-container .button:focus {
    outline: none;
}

.button-container .border-right {
    border-right: 2px solid #999;
}


/* Animation for wrong answer*/
.buzz-wrong {
    animation: buzz-wrong 0.2s ease-in-out alternate;
}

@keyframes buzz-wrong {
    0% {
        transform: translate(0, 0);
    }

    20% {
        background-color: rgba(252, 49, 49, 0.3);
        transform: translate(0, -10px);
    }

    40% {
        transform: translate(0, 10px);
    }

    60% {
        transform: translate(0, -10px);
    }

    80% {
        transform: translate(0, 10px);
    }

    100% {
        transform: translate(0, 0);
    }
}

/* Animation for correct answer*/
.buzz-right {
    animation: buzz-right 0.2s ease-in-out alternate;
}

@keyframes buzz-right {
    0% {
        transform: scale(1);
        background-color: rgba(0, 255, 0, 0.3);
    }

    50% {
        transform: scale(1.03);
    }

    75% {
        transform: scale(0.97);
    }

    100% {
        transform: scale(1);
    }
}

/* Answer Popup */
.answer-popup {
    width: 100%;
    margin-top: 2rem;
    border-radius: 10px;
    background-color: lightblue;
    transition: background-color .5s ease-in-out;
    opacity: .9;
}

.quiz-card .wrong {
    color: red;
    margin-top: 0;
}

.quiz-card .correct {
    color: green;
}

.quiz-card i {
    font-size: 3rem;
    transform: translate(0, 5px);
}

.answer-popup {
    opacity: 0;
    transition: all 0.4s ease-in-out;
}


/* Added for accessibility https://a11y-guidelines.orange.com/en/web/components-examples/accessible-hiding/ */
.hidden {
    size: 0;
}

.answer-popup.show {
    opacity: .9;
}

.answer-popup.hide {
    opacity: 0;
}